.tagFieldDiv{min-height:20px;width:365px;border:1px solid #C1C1C1;background-color:#fff;padding:0;}
.tagFieldClearer{clear:both;}
.tagFieldDiv ul{margin:0;padding:0;}
.tagField{outline:none;width:100%;height:28px;border:solid 1px;background-color:#fff;}
.tagInput{border:0;outline:none;padding:0;margin:0;font-size:1em;}
.tagInputItem{padding:0px;margin:0px;}
.tagItems >li{font-family:Verdana,Arial,Georgia,Helvetica,sans-serif;list-style:none;float:left;padding:3px;margin:3px;position:relative;}
.tagItems .tagItem{font-size:9px;border:solid 1px #C1C1C1;background-color:#e4e4e4;color:#525252;color:#4b4b4b;padding:2px;margin:3px;}
.tagItems .tagItem a{color:#cc0000;cursor:pointer;font-size:9px;font-family:Arial;}
.tagItems .tagItem a:hover{color:#fff;}
.suggestItems{min-width:100px;position:absolute;left:0;top:30px;z-index:100;}   
.suggestItems .suggestItem{font-size:1em;font-family:Verdana,Arial,Georgia,Helvetica,sans-serif;padding:3px;padding-left:5px;padding-right:5px;background-color:#666666;list-style:none;float:none;color:#fff;}
.suggestItems .suggestItem:hover{cursor:pointer;background:#3f3f3f;}
.suggestItems .selected{background-color:#3f3f3f;}